* {
  box-sizing: border-box;
}

.app {
  margin: 0 auto;
  background-color: #efdbd76b;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30021E;
  color: #f7e9e9;
  height: 100px;
}

.app-title {
  font-size: 2em;
  font-weight: 300;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.stat-section {
  background-color: #c5c5c5;
}

.stat-text{
  height: 100px;
  display: flex;
  align-items: center;
  padding: 1em;
  font-weight: 700;
  color: #333333;
  border-bottom: #333333 3px solid;
}

.number-section {
  /* height: calc(100vh - 414px); */
}

.reset-section {
  height: 100px;
  margin-top: 1em;
  text-align: center;
  font-size: 1.5em;
}

.reset-icon {
  border: 1px solid grey;
  border-radius: 50%;
  padding: 4px;
  font-size: 32px;
  transition: all 0.5s ease;
}

.reset-icon:focus{
  font-size: 20px;
}

.reset-icon:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 0px 10px 1px rgba(194,190,194,1);
  -moz-box-shadow: 1px 0px 10px 1px rgba(194,190,194,1);
  box-shadow: 1px 0px 10px 1px rgba(194,190,194,1);
}

.reset-text {
  font-size: 14px;
  padding-top: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(53, 53, 53);
  color: #f7e9e9;
  height: 100px;
}

.app-container {
  min-height: calc(100vh - 200px);
}

.nums-container {
  text-align: center;
}

.nums-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.control-items {
  font-weight: 900;
  font-size: 1.2em;
  padding-right: 10px;
  transition: all 0.2s ease;
}

.control-items:hover {
  font-weight: 900;
  font-size: 1.4em;
}

.max-btn {
  padding-left: 1.7em;
}

@media screen and (min-width: 768px){
  .app {
    max-width: 70%;
  }
}


@media screen and (max-width: 500px){
  .control-items, .num, .minmax-tag {
    font-size: 1.5em;
  }
}